.products-container-kpis{
    width: 100%;
    position: relative;
    float: left;
    margin-bottom: 20px;
}

.products-container-kpis-content{
    width: 16.9%;
    height: 100%;
    position: relative;
    float: left;
    padding: 1%;
    margin-right: 1.3%;
    overflow: hidden;
    box-shadow: 1px 3px 7px #595959;
}
.products-container-kpis-content:last-child{ margin-right: 0%; }

.products-container-kpis-content-stock { background: #347534; color: #144b14; }
.products-container-kpis-content-margin { background: #28748d; color: #124d63; }
.products-container-kpis-content-active{ background: #65266d; color: #37113b; }
.products-container-kpis-content-total{ background: #7b7b7b; color: #5c5c5c; }
.products-container-kpis-content-end-stock{ background: #8f5259; color: #70222a; }

.products-kpi-title{
    width: 100%;
    position: relative;
    float: left;
    margin-bottom: 15px;
    font-size: 0.9em;
    font-weight: 800;
}

.products-kpi-title svg{
    top: -9px;
    right: -117px;
    position: absolute;
    float: left;
    width: 17.4em;
    height: 7.4em;
    z-index: 1;
    opacity: 32%;
    transform: rotate(21deg);
}

.products-kpi-value{
    width: 100%;
    position: relative;
    float: left;
    font-size: 1.6em;
    font-weight: 600;
    color: #ffffff8f;
}

.product-kpi-value-alert-stock{
    width: 100%;
    position: relative;
    float: left;
    font-size: 0.6em;
}

.products-container{
    width: 96%;
    position: relative;
    float: left;
    background-color: #FFF;
}

.product-stock-flag-red{ color: red }
.product-stock-flag-orange{ color: rgb(255, 140, 0) }

.products-container-modal-content{
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000000ed;
    z-index: 1000;
    top: 0;
    left: 0;
}

.product-modal-content{
    background-color: #FFF;
    position: relative;
    float: left;
    width: 65%;
    top: 20%;
    left: 18%;
    box-shadow: none;
}



/* #### Mobile Phones Portrait (retrato) #### */
@media screen and (max-device-width: 640px)  { 
    
}

/* #### Mobile Phones Landscape (horizontal) #### */
@media screen and (max-device-width: 640px) and (orientation: landscape) { }

/* #### Tablets Portrait (retrato) #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
    .products-container-kpis-content{
        width: 19%;
    }
}

/* #### Tablets Lanscape (horizontal) #### */
@media screen and (max-device-width: 1023px) and (orientation: landscape) { 
    .products-container-kpis-content{ width: 19%; }

    .products-container-kpis-content:last-child{ width: 31%; }

    .product-kpi-value-alert-stock{
        width: 40%;
    }
}